header{
    background: #343a40 !important;
    min-height: 60px;
    padding-top: 70px;
    .topMenu{
        float: left;
        min-height: 60px;
        li{
            display: flex;
            a{
                color: #fff;
                float: left;
                align-self: center;
            }
        }
    }
    .rightsection{
        float: right;
        display: flex;
        min-height: 60px;
        position: relative;
        @media screen and (max-width: 767px) {
            margin-right: 70px;
        }
        a{
            color: #fff;
            align-self: center;
        }
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            align-self: center;
        }
        .dropDown{
            position: absolute;
            right: -16px; 
            top: 68px;
            background: #343a40 !important;
            width: 100%;
            border-top: 1px solid #57636f;
            display: none;
        }
        .openSettigs.dropDown {
            display: block;
        }
    }
    .rightsection.webProfile{
        display: flex;
    }
    .rightsection.mobileProfile{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header .rightsection.webProfile{
        display: none;
    }
    .header .rightsection.mobileProfile{
        display: flex;
    }
    .menu-btn{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    #collapsibleNavbar .navbar-nav a{
        text-align: right;
    }
    .menu-btn{
        top: 7px;
        right: 10px;
    }
    header .rightsection img{
        width: 40px;
        height: 40px;
    }
    header .rightsection{
        min-height: 50px;
    }
    .userProfile img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    header{
        padding-top: 60px;
    }
    .navbar-expand-md .navbar-collapse{
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767px){
    #collapsibleNavbar .navbar-nav{
        margin-top: 30px;
    }
    .openSettigs.dropDown {
        display: none !important;
    }
    .usernameWeb{
        display: none;
    }
    
    header .rightsection.webProfile{
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

@media screen and (min-width: 768px){
    .logoutMobile,.userProfile{
        display: none;
    }
}