<footer>
  <p>Copyright © VDO lounge 2018 All rights reserved.</p>
  <ul>
    <li class="fb-like">
      <fb-like url="https://jeetotoh.000webhostapp.com"></fb-like>
    </li>
    <li>
      <google-plus url="https://jeetotoh.000webhostapp.com"></google-plus>
    </li>
    <li>
      <tweet url="https://jeetotoh.000webhostapp.com" text="VDO lounge"></tweet>
    </li>
    <li>
      <linkedin-share url="https://jeetotoh.000webhostapp.com"></linkedin-share>
    </li>
    <li class="pin-it">
      <pin-it url="https://jeetotoh.000webhostapp.com" text="VDO lounge"></pin-it>
    </li>
  </ul>
</footer>