footer {
    background: #343a40 !important;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    p{
        float: left;
        align-self: center;
        margin: 0;
    }
    ul {
        align-self: center;
        margin-bottom: 0;
        padding-left: 0;
        float: right;
        li{
            margin-right: 10px;
            display: inline-block;
            vertical-align: bottom;
        }
        li.fb-like{
            margin-bottom: 5px;
        }
        li.pin-it{
            margin-bottom: 6px;
        }
    }
}