.videoOuter {
    position: relative;
    margin-top: 0px;
    h3 {
        font-size: 22px;
        text-transform: capitalize;
        color: #333;
        span {
            font-size: 14px;
            float: right;
            cursor: pointer;
            padding-bottom: 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.videoBox{
    padding:0;
    text-align: center;
    margin: 0;
    overflow: hidden;
    li{
        display: inline-block;
        vertical-align: top;
        max-width: 25%;
        padding: 0 5px;
        @media screen and (max-width: 990px) {
            max-width: 33.3%;
        }
        @media screen and (max-width: 768px) {
            max-width: 50%;
        }
        @media screen and (max-width: 590px) and (min-width: 421px) { 
            .otherOptions p{
                display: none;
            }
        }
        @media screen and (max-width: 420px) {
            max-width: 100%;
            padding: 0 0 15px 0px;
        }
        section{
            background: #111;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            margin-bottom: 10px;
            border: 1px solid #ad9191;
            border-radius: 2px;
        }
        embed{
            display: block;
        }
        img{
            max-width: 100%;
            margin-top: -5px;
        }
        h4{
            font-size: 16px;
            text-align: left;
            position: absolute;
            top: 0;
            background: #fff;
            color: #111;
            padding: 5px 10px;
            line-height: 18px;
            overflow: hidden;
            height: auto;
            width: 100%;
        }
        // &:last-child{
        //     display: none;
        // }
        // &:first-child{
        //     display: inline-block;
        // }
        .otherOptions{
            position: absolute;
            width: 100%;
            bottom: 0px;
            padding: 0 10px;
            background: rgba(0,0,0,0.5);
            span{
                position: relative;
                z-index: 9;
                float: left;
                background: #fff;
                padding: 0px 6px;
                border-radius: 50%;
                margin: 5px 0;
                i{
                    cursor: pointer;
                    &:before {
                        color: #333;
                        font-size: 16px;
                    }
                }
                i.saved{
                    color: #333 !important;
                    cursor: default;
                }
                &:hover {
                    background: orangered;
                    i:before{
                        color: #fff;
                    }
                }
            }
            span.deleteVideo{
                float: right;
            }
            &:after{
                clear: both;
                display: block;
                content: "";
            }
            span.likeVideo{
                font-size: 18px;
                margin-left: 15px;
            }
            .video-title{
                width: 100%;
                font-size: 14px;
                line-height: 16px;
                color: #e8e8e8;
                font-weight: 600;
                text-align: left;
                margin-bottom: 5px;
            }
        }
        &.viewAll{
            width: 24%;
            @media screen and (max-width: 990px) {
                width: 33%;
            }
            @media screen and (max-width: 768px) {
                width: 49%;
            }
            @media screen and (max-width: 420px) {
                width: 99%;
                padding: 0 0 15px 0px;
            }
        }
    }
}
