ul{
    padding-left: 0;
    li{
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
    }
    li.fb-like{
        margin-bottom: 5px;
    }
    li.pin-it{
        margin-bottom: 6px;
    }
}