<app-header></app-header>
<div class="container-fluid">
  <input list="browsers" name="browser" (input)="getTotalAmt()" [(ngModel)]="searchText" placeholder="Search video" class="searchVideos">
  <datalist id="browsers">
    <option value="Shahrukh">
    <option value="Mashup">
    <option value="Trailer">
    <option value="Movies">
  </datalist>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'popular'"></app-video-list>
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'trailer'"></app-video-list>
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'comedy'"></app-video-list>
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'movies'"></app-video-list>
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'Shahrukh khan movies'"></app-video-list>
  </div>
  <div class="video-slider-container">

      <app-video-list [searchedText]="textSearched" [category]="'web series'"></app-video-list>
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'sports'"></app-video-list>  
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'mashup song'"></app-video-list>
  </div>
  <div class="video-slider-container">
    <app-video-list [searchedText]="textSearched" [category]="'tvf'"></app-video-list>
  </div>
</div>
<app-footer></app-footer>
