<app-header></app-header>
<div class="container-fluid">
  <input type="text" [(ngModel)]="searchText" placeholder="Search video" class="searchVideos">
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
      <h3>{{item.videoCat}}</h3>
    </li>
  </ul>
  <h3>Popular</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>Trailers & Teaser</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>Comedy</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>New Movies</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>Old Movies</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>Web series</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>Sports</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>Angular</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
  <h3>TVF</h3>
  <ul class="videoBox">
    <li *ngFor="let item of urlArr | filter : searchText" class="col-lg-2 col-md-3 col-sm-4">
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item.videocode, item.videoCat)">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle}}</h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </li>
  </ul>
</div>