<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © instater.com 2018, All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul>
                    <li class="fb-like">
                        <fb-like url="http://instatre.com"></fb-like>
                    </li>
                    <li>
                        <google-plus url="http://instatre.com"></google-plus>
                    </li>
                    <li>
                        <tweet url="http://instatre.com" text="VDO lounge"></tweet>
                    </li>
                    <li class="pin-it">
                        <pin-it url="http://instatre.com" text="VDO lounge"></pin-it>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>