header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #000;
    // padding: 10px;
    // height: 30px;
    nav {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: 70px;
        .headerRight {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            // width: 300px;
            align-items: center;
            .headerMenu {
                margin-right: 5em;
                a {
                    margin: 0px 10px;
                    text-decoration: none;
                    color: #fff;
                    border: 1px solid #fff;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        background: #202C45;
                        color: #fff;
                    }
                }
            }
            .menuIcon{
                width: 50px;
                height: 50px;
                display: contents;
                .hambergerIcon {
                    height: 5px;
                    width: 50px;
                    position: relative;
                    border-radius: 50px;
                    background-color: #fff;
                    -webkit-transform: translate(-50%, -50%) rotate(0deg);
                    transform: translate(-50%, -50%) rotate(0deg);
                    transition: all ease 0.5s;
                    margin-top: 6px;
                    z-index: 999;
                    cursor: pointer;
                    right: -20px;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        height: inherit;
                        border-radius: inherit;
                        background-color: inherit;
                        margin: auto;
                        width: 50%;
                        transition: all ease 0.5s;
                    }
                    &::before {
                        top: -15px;
                        left: 0;
                        transform-origin: left;
                    }
                    &::after {
                        bottom: -15px;
                        right: 0;
                        transform-origin: right;
                    }
                }
                .in {
                    transform: translate(-50%, -50%) rotate(135deg);
                    &::before {
                        top: 0;
                        transform: translateX(100%) rotate(-90deg);
                    }
                    &::after {
                        bottom: 0;
                        transform: translateX(-100%) rotate(-90deg);
                    }
                }
            }
        }
        .navbar-brand {
            margin-right: 0px;
            padding-top: 0.6rem;
        }
        .vdo-logo{
            span {
                width: 55px;
                height: 50px;
                display: inline-block;
            }
            strong {
                display: inline-block;
                font-weight: 500;
                vertical-align: top;
                padding-top: 12px;
                margin-left: 3px;
                p {
                    margin: 0;
                    font-size: 24px;
                    line-height: 22px;
                    font-style: oblique;
                }
            }
        }
    }
    aside {
        position: fixed;
        top: 60px;
        height: 100%;
        background: #203145;
        color: #fff;
        width: 250px;
        -webkit-animation: slide 0.5s backwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.5s backwards;
        animation-delay: 2s;
        transition: 1s;
        right: -250px;
        transform: translateX(0px);
        z-index: 999;
        ul {
            padding-left: 0px;
            margin-top: 0px;
            margin-bottom: 60px;
            li {
                list-style: none;
                margin-bottom: 0px;
                &.userLogin {
                    padding: 10px;
                    text-align: center;
                    img {
                        width: 50px;
                    }
                    span {
                        display: block;
                        margin-top: 5px;
                    }
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    // background: #000;
                    &:hover {
                        background: #202C45;
                    }
                }
            }
        }
        &.in {
            transition: 1s;
            -webkit-animation: slide 0.5s forwards;
            -webkit-animation-delay: 2s;
            animation: slide 0.5s forwards;
            animation-delay: 2s;
            transform: translateX(-250px);
            overflow: auto;
        }
    }
}

$mini-mobile: 767px;
$mini-screen: 480px;
@media only screen and (max-width: $mini-mobile) {
    header {
        nav {
          height: auto;
            .headerRight {
                .headerMenu {
                    margin-right: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: $mini-screen) {
  header {
      nav {
        padding: .5rem .5rem;
    }
  }
}
