<app-header></app-header>
<div class="container-fluid">
  <div class="sliderContainer videoDisplay">
    <div class="videoContainer">
      <h3>{{category}}</h3>
      <object [data]='videoURL(playbackurl)' allowfullscreen>
      </object>
      <h3>{{title}}</h3>
      <ul>
        <li class="fb-like">
          <fb-like url="https://jeetotoh.000webhostapp.com"></fb-like>
        </li>
        <li>
          <google-plus url="https://jeetotoh.000webhostapp.com"></google-plus>
        </li>
        <li>
          <tweet url="https://jeetotoh.000webhostapp.com" text="VDO lounge"></tweet>
        </li>
        <li>
          <linkedin-share url="https://jeetotoh.000webhostapp.com"></linkedin-share>
        </li>
        <li class="pin-it">
          <pin-it url="https://jeetotoh.000webhostapp.com" text="VDO lounge"></pin-it>
        </li>
      </ul>
    </div>
  </div>
  <br />
</div>

<div class="pn-ProductNav_Wrapper">
  <nav id="pnProductNav" class="pn-ProductNav dragscroll">
  <div id="pnProductNavContents" class="pn-ProductNav_Contents">
    <ul class="videoBox">
      <li *ngFor="let item of catArr" class="col-lg-2 col-md-3 col-sm-4">
        <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item)" data-toggle="modal" data-target="#myModal">
        <h4 *ngIf="item.desc !=''">{{item.desc}}</h4>
        <h4 *ngIf="item.desc ==''">Title is not defined</h4>
      </li>
    </ul>
  <span id="pnIndicator" class="pn-ProductNav_Indicator"></span>
  </div>
  </nav>
  <button id="pnAdvancerLeft" class="pn-Advancer pn-Advancer_Left" type="button">
  <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z" /></svg>
  </button>
  <button id="pnAdvancerRight" class="pn-Advancer pn-Advancer_Right" type="button">
  <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z" /></svg>
  </button>
  </div>