<app-header></app-header>
<div class="container-fluid container-top-spacing">
  <div class="sliderContainer videoDisplay">
    <div class="videoContainer">
      <!-- Button to Open the Modal -->
      <h3>{{category}}</h3>
      <youtube-player 
        [videoId]="videoId"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        [playerVars]="playerVars"
      >
      </youtube-player>
      <h3>{{title}}</h3>
      <!-- <section class="panel panel-success">
        <div class="panel-body">
          <pre>{{ timer }} of {{duration}}</pre>
          <progress id="progress-bar" value="{{loader}}">
          </progress>
        </div>
      </section> -->
      <ul>
        <li class="fb-like">
          <fb-like url="https://jeetotoh.000webhostapp.com"></fb-like>
        </li>
        <li>
          <google-plus url="https://jeetotoh.000webhostapp.com"></google-plus>
        </li>
        <li>
          <tweet url="https://jeetotoh.000webhostapp.com" text="VDO lounge"></tweet>
        </li>
        <li>
          <linkedin-share url="https://jeetotoh.000webhostapp.com"></linkedin-share>
        </li>
        <li class="pin-it">
          <pin-it url="https://jeetotoh.000webhostapp.com" text="VDO lounge"></pin-it>
        </li>
      </ul>
    </div>
  </div>
  <br />
</div>

<ul class="videoBox">
  <li *ngFor="let item of catArr | videofilter : category" class="col-lg-2 col-md-3 col-sm-4">
    <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item)" data-toggle="modal" data-target="#myModal">
    <h4 *ngIf="item.desc !=''">{{item.desc}}</h4>
    <h4 *ngIf="item.desc ==''">Title is not defined</h4>
  </li>
</ul>
<app-footer></app-footer>

<!-- The Modal -->
<div class="modal" [class.show]="enable" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" (click)="closemodal()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <ul class="videoBox">
            <li *ngFor="let item of catArr | videofilter : category" class="col-lg-2 col-md-3 col-sm-4 relatedList">
              <section (click)="openVideo(item); closemodal();">
                <img [src]="thunbnailURL(item.videocode)" alt="" data-toggle="modal" data-target="#myModal">
                <h4 *ngIf="item.videotitle !=''">{{item.videotitle | slice:0:50}}<span *ngIf="item.videotitle.length >=40">...</span></h4>
                <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
              </section>
            </li>
          </ul>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closemodal()">Close</button>
        </div>
  
      </div>
    </div>
  </div>