.videoBox{
    margin-top: 100px;
    padding:0;
    text-align: center;
    min-height: 150px;
    li{
        //width: 16.666%;
        display: inline-block;
        vertical-align: top;
        padding: 0 5px 10px 5px;
        @media screen and (max-width: 1360px) and (min-width: 1161px) {
            max-width: 20%;
        }
        @media screen and (max-width: 1160px) and (min-width: 990px) {
            max-width: 25%;
        }
        @media screen and (max-width: 575px) {
            max-width: 50%;
        }
        @media screen and (max-width: 480px) {
            max-width: 100%;
            padding: 0 0 15px 0px;
        }
        section{
            border: 1px solid #333;
            border-radius: 2px;
            padding: 15px 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            color: #333;
            div:first-child{
                cursor: pointer;
                padding-bottom: 30px;
            }
            &:hover{
                background: orangered;
                color: #fff;
            }
        }
        embed{
            display: block;
        }
        img{
            max-width: 100%;
            margin-top: -5px;
        }
        h4{
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            padding: 5px 10px;
            text-align: left;
            height: auto;
            overflow: hidden;
            text-align: center;
            margin-bottom: 0;
            @media screen and (max-width: 640px) {
                font-size: 14px;
            }
            @media screen and (max-width: 575px) {
                font-size: 14px;
            }
        }
        &:first-child{
            display: inline-block;
        }
        .otherOptions{
            position: absolute;
            width: 92%;
            bottom: 5px;
            span{
                position: relative;
                z-index: 99;
                float: left;
                i{
                    cursor: pointer;
                    &:hover{
                        color: #fff !important;
                    }
                }
                i.saved{
                    color: #fff !important;
                    cursor: default;
                }
            }
            span.deleteVideo{
                float: right;
            }
            &:after{
                clear: both;
                display: block;
                content: "";
            }
            span.likeVideo{
                font-size: 18px;
                margin-left: 15px;
                margin-top: -3px;
            }
        }
    }
}
