<app-header></app-header>
<div class="container-fluid container-top-spacing">
<ul class="videoBox">
  <li *ngFor="let item of catArr | videofilter : category" class="col-lg-2 col-md-3 col-sm-4">
    <section>
      <img [src]="thunbnailURL(item.videocode)" alt="" (click)="openVideo(item)" data-toggle="modal" data-target="#myModal">
      <h4 *ngIf="item.videotitle !=''">{{item.videotitle | slice:0:50}}<span *ngIf="item.videotitle.length >=40">...</span></h4>
      <h4 *ngIf="item.videotitle ==''">Title is not defined</h4>
    </section>
  </li>
</ul>
</div>
<app-footer></app-footer>
