body{
    min-height: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.lightTheme{
    background-image: url(assets/images/darkimage.jpg);
}

.darkTheme{
    background-image: url(assets/images/darkimage.jpg);
    background-size: cover; 
}

.darkTheme *{
    color: #a79797 !important
}

.lightTheme .videoBox li > div{
    background: #fff !important;
}

@media screen and (max-width: 768px){
    .container-fluid{
        padding: 0 5px;
    }
    .container-fluid h3{
        padding: 5px;
    }
}