body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: rgba(255, 255, 255, .75) !important;
}

/* .lightTheme {
    background-image: url(assets/images/darkimage.jpg);
}

.darkTheme {
    background-image: url(assets/images/darkimage.jpg);
    background-size: cover;
} */
.capitalize{
    text-transform: capitalize;
}

.lightTheme .videoBox li>div {
    background: #fff !important;
}

.slick-slide img {
    max-width: 100%;
}

.slick-prev {
    left: -15px
}

.slick-next {
    right: -15px
}

.slick-next,
.slick-prev {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 60px;
    z-index: 99;
}

.slick-next:hover,
.slick-prev:hover {
    background: rgba(0, 0, 0, 0.9);
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
}

h4 {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    text-align: left;
    height: 40px;
    overflow: hidden;
}

.bg-dark {
    background: #203145 !important;
}

.container-top-spacing{
    padding-top: 85px;
}

.modal-backdrop.show{
    display: none !important;
}

@media screen and (max-width: 767px) {
    body {
        background-size: auto;
    }
}

/*-- loader animation --*/
div.loader img {
    -webkit-animation: infinite rotate-block 2s;
    -moz-animation: infinite rotate-block 2s;
    -o-animation: infinite rotate-block 2s;
    animation: infinite rotate-block 2s;
}
@-webkit-keyframes rotate-block {
  0%   {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate-block {
  0%   {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotate-block {
  0%   {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(360deg);}
}
@keyframes rotate-block {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}