body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: rgba(255, 255, 255, .75) !important;
}

.lightTheme {
    background-image: url(assets/images/darkimage.jpg);
}

.darkTheme {
    background-image: url(assets/images/darkimage.jpg);
    background-size: cover;
}

/* .darkTheme * {
    color: rgba(255, 255, 255, .75) !important;
} */

.lightTheme .videoBox li>div {
    background: #fff !important;
}

.slick-slide img {
    max-width: 100%;
}

.slick-prev {
    left: -15px
}

.slick-next {
    right: -15px
}

.slick-next,
.slick-prev {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 60px;
    z-index: 99;
}

.slick-next:hover,
.slick-prev:hover {
    background: rgba(0, 0, 0, 0.9);
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
}

h4 {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    text-align: left;
    height: 40px;
    overflow: hidden;
}

.bg-dark {
    background: #203145 !important;
}


/* header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

header nav .hambergerIcon {
    height: 5px;
    width: 50px;
    position: absolute;
    border-radius: 50px;
    background-color: #4A2545;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all ease 0.5s;
    top: 30px;
    right: -10px;
    z-index: 999;
    cursor: pointer;
}

header nav .hambergerIcon::before,
header nav .hambergerIcon::after {
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
}

header nav .hambergerIcon::before {
    top: -15px;
    left: 0;
    transform-origin: left;
}

header nav .hambergerIcon::after {
    bottom: -15px;
    right: 0;
    transform-origin: right;
}

header nav .in {
    transform: translate(-50%, -50%) rotate(135deg);
}

header nav .in::before {
    top: 0;
    transform: translateX(100%) rotate(-90deg);
}

header nav .in::after {
    bottom: 0;
    transform: translateX(-100%) rotate(-90deg);
}

header aside {
    position: fixed;
    top: 60px;
    height: 100%;
    background: #000;
    color: #fff;
    width: 200px;
    -webkit-animation: slide 0.5s backwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s backwards;
    animation-delay: 2s;
    transition: 1s;
    right: -200px;
    transform: translateX(0px);
    z-index: 99;
}

header aside ul {
    padding-left: 0px;
    margin-top: 0px;
}

header aside ul li {
    list-style: none;
    margin-bottom: 0px;
}

header aside ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background: #000;
}

header aside ul li a:hover {
    background: #d1d1d1;
    text-decoration: none;
    color: #fff;
}

header aside.in {
    transition: 1s;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    transform: translateX(-200px);
} */

@media screen and (max-width: 767px) {
    body {
        background-size: auto;
    }
}